* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    font-family: 'Konkhmer Sleokchher', sans-serif;
    background-color: #ffffff;
}

p {
    font-size: 1vw;
    font-family: 'Konkhmer Sleokchher', sans-serif;
    color: rgba(113, 105, 105, 1);
}
 
.container {
    display: flex;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
}

.left-section {
    flex: 1;
    padding: 3%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ostec {
    position: absolute;
    top: 20px; 
    left: 20px; 
    font-size: 1.3vw;
    color: rgba(45, 46, 46, 1);
}

.greeting-container {
    text-align: center; 
    margin-bottom: 20px; 
}

.si {
    font-size: 3.5vw;
    color: rgba(45, 46, 46, 1);
    margin: 0; 
}

.grey {
    margin: -30px; 
    margin-bottom: 15px;
    font-size: 1.6vw;
    color: rgba(113, 105, 105, 1);
}

.greys {
    font-size: 1.5vw;
    color: rgba(113, 105, 105, 1);
    margin-top: 1px;
    margin-bottom: 10px;
}

.button-container {
    position: relative; 
    width: 101%; 
    margin-bottom: 10px; 
}

.button-icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px; 
}

.google-login {
    color: #716969;
    text-align: left;
    background-color: #ffffff;
    font-family: 'Konkhmer Sleokchher', sans-serif;
    padding: 10px 10px 10px 40px;
    border: 1px solid #716969;
    border-radius: 10px;
    font-size: 1vw;
    width: 100%;
}

.input-container {
    position: relative; 
    width: 80%; 
    margin-bottom: 10px; 
}

.input-icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px; 
}

form input {
    font-family: 'Konkhmer Sleokchher', sans-serif;
    padding: 10px 10px 10px 40px;
    border: 1px solid #716969;
    border-radius: 10px;
    font-size: 1vw;
    width: 100%;
}

.koulen {
    font-family: 'Koulen', sans-serif;
}

.pass {
    color: rgba(111, 132, 241, 1);
    text-decoration: none;
    font-size: 1vw;
    display: inline-block;
    text-align: right; 
    margin-top: 5px; 
    margin-bottom: 20px;
}

.forgot-password-container {
    text-align: right;
    margin-top: 5px; 
    margin-bottom: 10px;
}

.login-btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.2vw;
}

.account {
    color: rgba(0, 0, 0, 1);
    font-size: 1vw;
    text-align: center; 
    margin-top: 20px; 
}

.sign-up-btn {
    color: rgba(111, 132, 241, 1);
    text-decoration: none;
    margin-left: 2px;
}

.right-section {
    flex: 1;
    position: relative;
    background-color: white;
}

.right-section img {
    width: 100%;
    height: 100%;
}

.right-section p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 1.5vw;
}

/*Para celular*/
@media (max-width: 768px) {
    body {
        padding: 10px; /* Agrega un padding general */
    }

    p {
        font-size: 4vw; /* Aumenta el tamaño de la fuente en pantallas pequeñas */
    }
    
    .greeting-container {
        margin-right: 9%;
        margin-top: 10%;
        text-align: center;
        margin-bottom: 20px;
    }

    .container {
        flex-direction: column; /* Cambia a columna para móviles */
        height: auto; /* Permite que el contenedor se ajuste al contenido */
    }

    .left-section {
        padding: 5%; /* Aumenta el padding para más espacio */
        align-items: center; /* Centra los elementos */
        display: flex; /* Usa flexbox */
        flex-direction: column; /* Coloca los elementos en columna */
        width: 100%; /* Asegura que ocupe el ancho completo */
        text-align: center; /* Centra el texto dentro de la sección */
    }

    .ostec {
        font-size: 0; /* Ajusta el tamaño de fuente */
    }

    .si {
        font-size: 8vw; /* Aumenta el tamaño de fuente para el título */
        margin: 20px 0; /* Agrega margen superior para moverlo hacia abajo */
        text-align: center; /* Centra el texto */
    }

    .grey, .greys {
        font-size: 4vw; /* Ajusta tamaños */
        text-align: center; /* Centra el texto */
    }

    .button-container {
        width: 100%; /* Asegura que el botón use el 100% del ancho */
        margin: 10px 0; /* Espacio entre botones */
        display: flex; /* Usa flexbox para alinear botones */
        flex-direction: column; /* Coloca botones en columna */
        align-items: center; /* Centra los botones */
    }

    form input {
        font-size: 4vw; /* Ajusta el tamaño de los botones y campos de entrada */
        padding: 10px; /* Ajusta padding para hacer botones más pequeños */
        border-radius: 15px; /* Cambia el borde para un aspecto más moderno */
        width: 90%; /* Asegura que los botones ocupen el ancho completo */
        display: flex; /* Usar flex para alinear contenido */
        align-items: center; /* Centra el contenido en el botón */
        justify-content: center; /* Centra el contenido horizontalmente */
        margin: 5px 0; /* Espacio entre botones */
        overflow: hidden; /* Asegura que nada se desborde */
    }

    .login-btn {
        font-size: 4vw; /* Ajusta el tamaño de los botones y campos de entrada */
        padding: 10px; /* Ajusta padding para hacer botones más pequeños */
        border-radius: 15px; /* Cambia el borde para un aspecto más moderno */
        width: 100%; /* Asegura que los botones ocupen el ancho completo */
        display: flex; /* Usar flex para alinear contenido */
        align-items: center; /* Centra el contenido en el botón */
        justify-content: center; /* Centra el contenido horizontalmente */
        margin: 5px 0; /* Espacio entre botones */
        overflow: hidden; /* Asegura que nada se desborde */
    }


    .google-login {
        font-size: 4vw; 
        padding: 10px; 
        border-radius: 15px; 
        width: 100%;
        display: flex; 
        align-items: center; 
        justify-content: center;
        margin: 5px 0; 
        overflow: hidden; 
    }

    .google-login img {
        width: 20px; /* Ajusta el tamaño de la imagen */
        height: auto; /* Mantiene la relación de aspecto */
        max-width: 100%; /* Asegura que la imagen no se desborde */
        margin-right: 8px; /* Espacio entre imagen y texto */
    }

    .input-container {
        width: 90%; /* Asegura que ocupe un poco menos que el ancho completo */
        margin-bottom: 10px; /* Espacio entre campos de entrada */
    }

    form input {
        padding-left: 40px; /* Espacio para el icono */
    }

    .pass, .account {
        font-size: 4vw; /* Ajusta tamaño */
    }

    .forgot-password-container {
        text-align: right; /* Centra el texto en móviles */
    }

    .right-section {
        display: none; /* Elimina la sección derecha */
    }

    form {
        margin-right: 9%;
        display: block;
        margin-top: 0em;
        unicode-bidi: isolate;
    }
}
