* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    font-family: 'Konkhmer Sleokchher', sans-serif;
    background-color: #ffffff;
}

p {
    font-size: 1vw;
    font-family: 'Konkhmer Sleokchher', sans-serif;
    color: rgba(113, 105, 105, 1);
}
 
.container {
    display: flex;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
}

.left-section {
    flex: 1;
    position: relative;
    background-color: white;
}

.left-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-section p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 1.5vw;
}

.right-section {
    flex: 1;
    padding: 3%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ostec {
    position: absolute;
    top: 20px; 
    left: 20px; 
    font-size: 1.3vw;
    color: rgba(45, 46, 46, 1);
}

.greeting-container {
    text-align: center; 
    margin-bottom: 20px; 
}

.sis {
    font-size: 3.5vw;
    color: rgba(45, 46, 46, 1);
    margin: 0; 
}

.si {
    font-size: 3vw;
    color: rgba(0, 0, 0, 1);
    margin: -43px; 
}

.grey {
    font-size: 1.5vw;
    color: rgba(113, 105, 105, 1);
}

.greys {
    font-size: 1.5vw;
    color: rgba(113, 105, 105, 1);
    margin-top: 1px;
    margin-bottom: 10px;
}

.button-container {
    display: inline-block; 
    border: 1px solid #716969;
    border-radius: 10px;
    position: relative; 
    width: 50%; 
    margin-bottom: 10px; 
    height: 40px;
    overflow: hidden; 
}

.button-icon {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.google-login,
.outlook-login {
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    width: 100%; /* Ocupa todo el ancho */
    height: 40px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    padding: 0; /* Sin padding */
}


.input-container {
    position: relative; 
    width: 80%; 
    margin-bottom: 10px; 
}

.input-icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px; 
}

form input {
    font-family: 'Konkhmer Sleokchher', sans-serif;
    padding: 10px 10px 10px 40px;
    border: 1px solid #716969;
    border-radius: 10px;
    font-size: 1vw;
    width: 100%;
}

.koulen {
    font-family: 'Koulen', sans-serif;
}

.pass {
    color: rgba(111, 132, 241, 1);
    text-decoration: none;
    font-size: 1vw;
    display: inline-block;
    text-align: right; 
    margin-top: 5px; 
    margin-bottom: 20px;
}

.forgot-password-container {
    text-align: right;
    margin-top: 5px; 
    margin-bottom: 10px;
}

.login-btn {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.2vw;
}

.account {
    color: rgba(0, 0, 0, 1);
    font-size: 1vw;
    text-align: center; 
    margin-top: 35px; 
    margin-bottom: 35px;
}

.sign-up-btn {
    color: rgba(111, 132, 241, 1);
    text-decoration: none;
    margin-left: 2px;
}

.name-form {
    display: flex; /* Alinea los inputs en una fila */
    gap: 10px; /* Espacio entre los campos */
    margin-bottom: 20px; /* Espacio inferior para separación */
}

.input-container {
    flex: 1; /* Cada campo ocupa el mismo espacio */
}

input {
    box-sizing: border-box; /* Incluye padding y border en el ancho */
}

.aaa{
    display: flex;
    gap: 20px;
}
